# PREV VERSION: 10.X
OWNCLOUD_VERSION=10.X

OWNCLOUD_DOMAIN=MYDOMAIN.MYTOPDOMAIN

# HOST BASE PATH
HOST_BASE_STORAGE_PATH=/media/data

# OWNCLOUD PATHS
HOST_OWNCLOUD_PATH=${HOST_BASE_STORAGE_PATH}/ownCloud_files
HOST_OWNCLOUD_DATA_PATH=${HOST_OWNCLOUD_PATH}/data
HOST_OWNCLOUD_DB_MYSQL_PATH=${HOST_OWNCLOUD_PATH}/mysql
HOST_OWNCLOUD_DB_BACKUP_PATH=${HOST_OWNCLOUD_PATH}/backup
HOST_OWNCLOUD_REDIS_PATH=${HOST_OWNCLOUD_PATH}/redis

# TRAEFIK PATHS
HOST_TRAEFIK_PATH=${HOST_BASE_STORAGE_PATH}/traefik_files

# published port
HTTP_PORT=8080          # PLACEHOLDER
HTTPS_PORT=9997         # PLACEHOLDER

ADMIN_USERNAME=admin    # PLACEHOLDER
ADMIN_PASSWORD=admin    # PLACEHOLDER