#Notes:
# Look into using self signed cert OR Let's Encrypt with DNS API Access?

services:
  traefik-reverse-proxy:
    image: traefik:latest
    restart: unless-stopped
    networks:
      - traefik-network
      - internal
    command:      
      - "--api.insecure=true"           # DEV USE ONLY
      - "--providers.docker=true"             
      - "--entrypoints.web.address=:80"
      # DEBUG
      - "--entrypoints.websecure.address=:443"
    
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "${HOST_TRAEFIK_PATH}/acme.json:/acme.json"      

  # debug Whoami
  whoami:
    image: traefik/whoami
    labels:      
      - "traefik.http.routers.whoami-web.rule=Host(`whoami.localhost`)"      
      - "traefik.http.routers.app.tls=true"
      # DEBUG
      - "traefik.http.routers.whoami-web.entrypoints=web"
      - "traefik.http.routers.whoami-websecure.rule=Host(`whoami.localhost`)"
      - "traefik.http.routers.whoami-websecure.entrypoints=websecure"
    networks:
      - traefik-network
